{% load staticfiles %}
{% include 'partials/header.html' %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
	$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' }).bind("change",function(){
            var minValue = $(this).val();
            minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
            minValue.setDate(minValue.getDate()+1);
            $("#to").datepicker( "option", "minDate", minValue );
        })
    });
</script>

<ul>
<form method="GET" action="">
	<input type="text" name="q" placeholder="Search Title.." value={{request.GET.q}}>
	<input type="text" name="s" placeholder="Search Body.." value={{request.GET.s}}>
	<input type="text" id="datepicker" name="q1" placeholder="Search Date.." value={{request.GET.q1}}>
	<input type="submit" value="Search">
</form>
<br><br><br><br>
<br><br><br><br><hr>
	{% for post in object_list %}
	<li>
		<a href="/blog/details/{{post.id}}">Title: {{post.title}}</a> <br>
			Author: {{post.author}} <br>
			Text: {{post.body}}</li> <br>
	{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% include 'partials/footer.html' %}
