{% load staticfiles %}
{% include 'partials/header.html' %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
	$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' }).bind("change",function(){
            var minValue = $(this).val();
            minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
            minValue.setDate(minValue.getDate()+1);
            $("#to").datepicker( "option", "minDate", minValue );
        })
    });
</script>

<ul>
<form method="GET" action="">
	<input type="text" id="title_text" name="q" placeholder="Search Title.." autocomplete="on" runat="server" value='{{request.GET.q}}'>
	<input type="hidden" id="city2" name="city2" />
	<input type="hidden" id="cityLat" name="cityLat" />
	<input type="hidden" id="cityLng" name="cityLng" />

	<input type="text" id="body_text" name="s" placeholder="Search Body.." autocomplete="on" runat="server" value='{{request.GET.s}}'>
	<input type="hidden" id="city3" name="city3" />
	<input type="hidden" id="cityLat1" name="cityLat1" />
	<input type="hidden" id="cityLng1" name="cityLng1" />

	<input type="text" id="datepicker" name="q1" readonly="true" placeholder="Search Date.." value='{{request.GET.q1}}'>
	<input type="submit" value="Search">
</form>

<br><br><br><br>
<br><br><br><br><hr>

	{% for post in object_list %}
	<li>
		<a href="/blog/details/{{post.id}}">Title: {{post.title}}</a> <br>
			Author: {{post.author}} <br>
			Text: {{post.body}}</li> <br>
	{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}{% if request.GET.q or request.GET.s %}&q={{request.GET.q}}&s={{request.GET.s}}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!--
<script src="http://maps.googleapis.com/maps/api/js?libraries=places" type="text/javascript"></script>
-->
<script type="text/javascript">
    function initialize() {
        var input = document.getElementById('title_text');
        var autocomplete = new google.maps.places.Autocomplete(input);

				var input2 = document.getElementById('body_text');
				var autocomplete2 = new google.maps.places.Autocomplete(input2);

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
						document.getElementById('city2').value = place.name;
						document.getElementById('cityLat').value = place.geometry.location.lat();
						document.getElementById('cityLng').value = place.geometry.location.lng();
						console.log(place);
						console.log(place.geometry.location.lat())
						console.log(place.geometry.location.lng())

            //alert("This function is working!");
            //alert(place.name);
           // alert(place.address_components[0].long_name);

        });
				google.maps.event.addListener(autocomplete2, 'place_changed', function () {
						var place2 = autocomplete2.getPlace();
						document.getElementById('city3').value = place2.name;
						document.getElementById('cityLat1').value = place2.geometry.location.lat();
						document.getElementById('cityLng1').value = place2.geometry.location.lng();
						console.log(place2);
						console.log("number 2", place2.geometry.location.lat())
						console.log("number 2", place2.geometry.location.lng())

						//alert("This function is working!");
						//alert(place.name);
					 // alert(place.address_components[0].long_name);

				});
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTKAVVEc2BMBTvoV3nAlETPiReNluaU2g&libraries=places&callback=initialize"></script>


<!--<script src="blog/base2.html" type="text/javascript" charset="utf-8"></script-->
<!--
<script>

	function activatePlacesSearch() {
		var input = document.getElementById('title_text');
		var autocomplete = new google.maps.places.Autocomplete(input);

		console.log(autocomplete);
		var input1 = document.getElementById('body_text');
		var autocomplete1 = new google.maps.places.Autocomplete(input1);

}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTKAVVEc2BMBTvoV3nAlETPiReNluaU2g&libraries=places&callback=activatePlacesSearch"></script>
-->

{% include 'partials/footer.html' %}
