{% include 'partials/header.html' %}

{% if request.user == post.author %}
        <li>
            <form class="edit-link" action="." method="post">
                {% csrf_token %}
                <button type="submit">Edit</button>
            </form>
        </li>

{% endif %}


<div class="blog_detail">
	<div class="blog">
		<h2>Title: {{blog.title}}</h2>
		<p>Auhor: {{blog.author}}</p>
		<p>Text: {{blog.body}}</p>
	</div>
</div>

<hr>
{% for comment in comments %}
    <div class="comment">
        <div class="date">{{ comment.time_of_comment }}</div>
        <p>{{ comment.comment_text }}</p> <br>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

{% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
{% endif %}




{% include 'partials/footer.html' %}
